#jinja2:lstrip_blocks:True
{% set personality = junos.personality | lower %}
{% set model = junos.model | lower %}
{% if 'srx' in personality %}
{% if route_maps is defined or route_maps_common is defined %}
policy-options {
        {% if route_maps is defined %}
	    {% for policy_name, policy_data in route_maps.items() %}
    	    policy-statement {{ policy_name }}  {
            {% for term, data in policy_data.items() %}
            term {{ term }} {
                {% if data.from is defined %}
                from {
                {% if data.from.protocol is defined %}
                {% if data.from.protocol is string %}
                protocol {{ data.from.protocol }};
           		{% else %}
				protocol [ {{ data.from.protocol|join(" ") }} ];
				{% endif %}{% endif %}
				{% if data.from.rib is defined %}
                rib {{ data.from.rib }};
 				{% endif %}
                {% if data.from.prefix_list is defined %}
                {% for list in data.from.prefix_list %}
                prefix-list {{ list }};
                {% endfor %}
                {% endif %}
                {% if data.from.route_filter_exact is defined %}
                {% if data.from.route_filter_exact is string %}
                route-filter {{ data.from.route_filter_exact }} exact;
				{% else %}
				{% for filter in data.from.route_filter_exact %}
                route-filter {{ filter }} exact;
                {% endfor %}
				{% endif %}{% endif %}
                {% if data.from.route_filter_longer is defined %}
                {% if data.from.route_filter_longer is string %}
                route-filter {{ data.from.route_filter_longer }} orlonger;
				{% else %}
				{% for filter in data.from.route_filter_longer %}
                route-filter {{ filter }} orlonger;
                {% endfor %}
				{% endif %}{% endif %}
                {% if data.from.route_filter_range is defined %}
                {% if data.from.route_filter_range is mapping %}
                route-filter {{ data.from.route_filter_range.prefix }} prefix-length-range /{{  data.from.route_filter_range.low_range }}-/{{ data.from.route_filter_range.upper_range }};
				{% else %}
                {% for filter in data.from.route_filter_range %}
                route-filter {{ filter.prefix }} prefix-length-range /{{  filter.low_range }}-/{{ filter.upper_range }};
                {% endfor %}
				{% endif %}{% endif %}
				}
				{% endif %}
                    {% if data.then is defined %}
					{% if data.then| length == 1 and data.then.terminate_action is string %}
            		then reject;
					{% else %}
                	then {
					{% if data.then.add_path is defined %}
					add-path send-count {{ data.then.add_path }};
					{% endif %}
					{% if data.then.local_preference is defined %}
                	local-preference {{ data.then.local_preference }};
					{% endif %}
					{% if data.then.metric is defined %}
                	metric {{ data.then.metric }};
					{% endif %}
					{% if data.then._add_community is defined %}
					{% if data.then.add_community is string %}
                	community add {{ data.then.add_community}};
					{% else %}
					{% for community in data.then.add_community %}
                	community add {{ community}};
                    {% endfor %}
                    {% endif %}{% endif %}
					{% if data.then._del_community is defined %}
					{% if data.then.del_community is string %}
                	community delete {{ data.then.del_community }};
					{% else %}
					{% for community in data.then.del_community %}
                	community del {{ community }};
                    {% endfor %}
                    {% endif %}{% endif %}
					{{ data.then.terminate_action }};
				}
                {% endif %}
			}
				{% endif %}
				{% if data.explicit_action is defined %}
        		then {{ data.explicit_action }};
				{% endif %}

            {% endfor %}
	}
{% endfor %}{% endif %}

        {% if route_maps_common is defined %}
	    {% for policy_name, policy_data in route_maps_common.items() %}
    	    policy-statement {{ policy_name }}  {
            {% for term, data in policy_data.items() %}
            term {{ term }} {
                {% if data.from is defined %}
                from {
                {% if data.from.protocol is defined %}
                {% if data.from.protocol is string %}
                protocol {{ data.from.protocol }};
           		{% else %}
				protocol [ {{ data.from.protocol|join(" ") }} ];
				{% endif %}{% endif %}
				{% if data.from.rib is defined %}
                rib {{ data.from.rib }};
 				{% endif %}
                {% if data.from.prefix_list is defined %}
                {% for list in data.from.prefix_list %}
                prefix-list {{ list }};
                {% endfor %}
                {% endif %}
                {% if data.from.route_filter_exact is defined %}
                {% if data.from.route_filter_exact is string %}
                route-filter {{ data.from.route_filter_exact }} exact;
				{% else %}
				{% for filter in data.from.route_filter_exact %}
                route-filter {{ filter }} exact;
                {% endfor %}
				{% endif %}{% endif %}
                {% if data.from.route_filter_longer is defined %}
                {% if data.from.route_filter_longer is string %}
                route-filter {{ data.from.route_filter_longer }} orlonger;
				{% else %}
				{% for filter in data.from.route_filter_longer %}
                route-filter {{ filter }} orlonger;
                {% endfor %}
				{% endif %}{% endif %}
                {% if data.from.route_filter_range is defined %}
                {% if data.from.route_filter_range is mapping %}
                route-filter {{ data.from.route_filter_range.prefix }} prefix-length-range /{{  data.from.route_filter_range.low_range }}-/{{ data.from.route_filter_range.upper_range }};
				{% else %}
                {% for filter in data.from.route_filter_range %}
                route-filter {{ filter.prefix }} prefix-length-range /{{  filter.low_range }}-/{{ filter.upper_range }};
                {% endfor %}
				{% endif %}{% endif %}
				}
				{% endif %}
                    {% if data.then is defined %}
					{% if data.then| length == 1 and data.then.terminate_action is string %}
            		then reject;
					{% else %}
                	then {
					{% if data.then.add_path is defined %}
					add-path send-count {{ data.then.add_path }};
					{% endif %}
					{% if data.then.local_preference is defined %}
                	local-preference {{ data.then.local_preference }};
					{% endif %}
					{% if data.then.metric is defined %}
                	metric {{ data.then.metric }};
					{% endif %}
					{% if data.then._add_community is defined %}
					{% if data.then.add_community is string %}
                	community add {{ data.then.add_community}};
					{% else %}
					{% for community in data.then.add_community %}
                	community add {{ community}};
                    {% endfor %}
                    {% endif %}{% endif %}
					{% if data.then._del_community is defined %}
					{% if data.then.del_community is string %}
                	community delete {{ data.then.del_community }};
					{% else %}
					{% for community in data.then.del_community %}
                	community del {{ community }};
                    {% endfor %}
                    {% endif %}{% endif %}
					{{ data.then.terminate_action }};
				}
                {% endif %}
			}
				{% endif %}
				{% if data.explicit_action is defined %}
        		then {{ data.explicit_action }};
				{% endif %}

            {% endfor %}
	}
{% endfor %}{% endif %}

{% endif %}
	{% if communities_common is defined or communities is defined %}
	{% if communities_common is defined %}
    {% for community in communities_common %}
	{% if community.member is string or community.name is number %}
    community {{ community.name }} members {{ community.member }};
	{% else %}
    community {{ community.name }} members [ {{ community.member|join(" ") }} ];
	{% endif %}
	{% endfor %}
	{% endif %}
	{% if communities is defined %}
    {% for community in communities %}
	{% if community.member is string or community.name is number %}
    community {{ community.name }} members {{ community.member }};
	{% else %}
    community {{ community.name }} members [ {{ community.member|join(" ") }} ];
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endif %}
}
{% endif %}
