#jinja2:lstrip_blocks:True
{% set personality = junos.personality | lower %}
{% if syslog_stream is defined %}
security {
    log {
        mode stream;
        {% if syslog_stream.src is defined %}
        source-address {{ syslog_stream.src }};
        {% endif %}
        {% if syslog_stream.profile is defined %}
        stream {{ syslog_stream.profile.name }} {
            {% if  syslog_stream.profile.format is defined %}
            format {{ syslog_stream.profile.format }};
            {% else %}
            format sd-syslog;
            {% endif %}
            {% if syslog_stream.profile.category is defined %}
            category {{ syslog_stream.profile.category }};
            {% else %}
            category all;
            {% endif %}
            {% if syslog_stream.host is defined %}
            host {
                {{ syslog_stream.host }};
                port {{ syslog_stream.port }};
            }
            {% else %}
            host {
                {{ syslog }};
                port 514;
            }
            {% endif %}
        }
        {% endif %}
    }
}
{% endif %}
system {
    {% if hostname is defined %}
    host-name {{ hostname }};
    {% endif %}
    auto-snapshot;
    time-zone UTC;
    no-multicast-echo;
    no-redirects;
    no-ping-record-route;
    no-ping-time-stamp;
    internet-options {
        icmpv4-rate-limit packet-rate 100 bucket-size 5;
        icmpv6-rate-limit packet-rate 100 bucket-size 5;
        no-source-quench;
        tcp-drop-synfin-set;
    }
    ports {
        console log-out-on-disconnect;
        auxiliary disable;
    }
    root-authentication {
        encrypted-password {{ system.root_password }}; ## SECRET-DATA
    }
    replace:
    name-server {
      {% for ns in system_common.name_servers %}
        {{ ns }};
      {% endfor %}
    }
    login {
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class {{ custom_user_class }} {
            permissions {{ custom_class_perms }};
        }
        {% for user in users %}
        user {{ user.username }} {
            {% if user.fullname is defined %}
            full-name "{{ user.fullname }}";
            {% endif %}
            {% if user.uid is defined %}
            uid {{ user.uid }};
            {% endif %}
            class {{ custom_user_class }};
            authentication {
                {% if user.password is defined %}
                encrypted-password "{{ user.password }}"; ## SECRET-DATA
                {% endif %}
                {% if user.ssh_key is defined %}
                ssh-rsa "{{ user.ssh_key }}"; ## SECRET-DATA
                {% endif %}
            }
        }
        {% endfor %}
    }
    {% if system_common.syslog is defined or syslog_common is defined %}
    syslog {
        archive files 5;
        user * {
            any emergency;
        }
        {% if system.syslog.external_syslog is defined %}
        host system.syslog.external_syslog.host {
            any any;
            port {{ system.syslog.external_syslog.port }};
            structured-data;
        }
        {% endif %}
        {% if syslog_common.syslog.files is defined %}
        {% for name, config in syslog_common.syslog.files.items() %}
        file {{ name }} {
            {% if config.facility is defined %}
            {% for sys_file in config.facility %}
            {{ sys_file.name }} {{ sys_file.log_level }};
            {% if sys_file.matching is defined %}
            match {{ sys_file.matching }};
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if config.explicit is defined %}
            {% if config.explicit == True %}
            explicit-priority;
            {% endif %}{% endif %}
        }
        {% endfor %}
        {% endif %}
        {% if system_firewall is defined %}
        {% for name, config in system_firewall.syslog.files.items() %}
        file {{ name }} {
            {% if config.facility is defined %}
            {% for sys_file in config.facility %}
            {{ sys_file.name }} {{ sys_file.log_level }};
            {% if sys_file.archive_size is defined %}
            archive size {{ sys_file.archive_size }};
            {% endif %}
            {% if sys_file.matching is defined %}
            match {{ sys_file.matching }};
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if config.explicit is defined %}
            {% if config.explicit == True %}
            explicit-priority;
            {% endif %}{% endif %}
        }
        {% endfor %}
        {% endif %}
        source-address {{mgmt.ip }};
    }
    {% endif %}
    services {
        delete: ftp;
        delete: telnet;
        delete: web-management;
        ssh {
            root-login deny;
            protocol-version v2;
            connection-limit 5;
            rate-limit 4;
        }
    {% if system.max_config_flash is defined %}
    max-configurations-on-flash {{ system.max_config_flash }};
    {% endif %}
    {% if system.max_config_rollback is defined %}
    max-configuration-rollbacks {{ system.max_config_rollback }};
    {% endif %}
        netconf {
            ssh {
                port {{ system.netconf_port }};
            }
        }
    }
    {% if system.archival is defined %}
    archival {
        configuration {
            transfer-on-commit;
            {% if system.archival is string or  system.archival is number %}
            archive-sites {
                "scp://{{system.archival.hostname}}@{{ system.archival.server }}:{{ system.archival.tx_dir }}";
            }
            {% else %}
            archive-sites {
                {% for svr in system.archival %}
                "scp://{{ svr.username }}@{{ svr.server }}:{{ svr.tx_dir }}";
                {% endfor %}
            }
            {% endif %}
        }
    }
    {% endif %}
    commit synchronize;
    ntp {
      {% for ntp in system_common.ntp_servers %}
        server {{ ntp }};
      {% endfor %}
    }
}
